<div id="homeslider">
	<a href="/movie/{{popular.0.id}}"><div class="slider-slide" style="background: url('http://image.tmdb.org/t/p/w1920/{{popular.0.backdrop_path}}'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
		<h4>Popular Now</h4>
		<h3>{{popular.0.title}}</h3>
	</div></a>
{{!-- 
	<a href="/movie/{{new.0.id}}"><div class="slider-slide" style="background: url('http://image.tmdb.org/t/p/w1920/{{new.0.backdrop_path}}'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
		<h4>Now Available</h4>
		<h3>{{new.0.title}}</h3>
	</div></a>

	<a href="/movie/{{popular.0.id}}"><div class="slider-slide" style="background: url('http://image.tmdb.org/t/p/w1920/{{popular.1.backdrop_path}}'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
		<h4>Popular Now</h4>
		<h3>{{popular.1.title}}</h3>
	</div></a>

	<a href="/movie/{{new.0.id}}"><div class="slider-slide" style="background: url('http://image.tmdb.org/t/p/w1920/{{new.1.backdrop_path}}'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
		<h4>Now Available</h4>
		<h3>{{new.1.title}}</h3>
	</div></a> --}}
</div>

<main>
	<h3>Popular Movies</h3>
	<div id="popularMovies">
		<div class="slidee">
			{{#each popular}}
					<li class="poster">
						<a href="movie/{{this.id}}/">
							<img src="http://image.tmdb.org/t/p/w185/{{this.poster_path}}">
						</a>
					</li>
			{{else}}
				<p>List is empty</p>
			{{/each}}
		</div>
	</div>

	<div class="scrollbar" id="popularMoviesScrollbar">
	    <div class="handle"></div>
	</div>

	<h3>New Releases</h3>
	<div id="newMovies">
		<div class="slidee">
			{{#each new}}
				<li class="poster">
					<a href="movie/{{this.id}}/">
						<img src="http://image.tmdb.org/t/p/w185/{{this.poster_path}}">
					</a>
				</li>
			{{else}}
				<p>List is empty</p>
			{{/each}}
		</div>
	</div>

	<div class="scrollbar" id="newMoviesScrollbar">
	    <div class="handle"></div>
	</div>
</main>