<div id="hero">
	{{!-- <img class="backdrop" src="http://image.tmdb.org/t/p/w1920/{{data.backdrop_path}}"> --}}

	<div id="filmInfo" class="row">
		<div class="small-4 columns">
			<img class="poster" src="http://image.tmdb.org/t/p/w370/{{data.poster_path}}">
		</div>
		<div class="small-8 columns">
			<h1>{{data.title}}</h1>
			<p>{{data.overview}}</p>

			<table>
				<tr>
					<td>Runtime</td>
					<td>{{data.runtime}} Minutes</td>
				</tr>

				<tr>
					<td>Status</td>
					<td>{{data.status}}</td>
				</tr>

				<tr>
					<td>Release Date</td>
					<td>{{data.release_date}}</td>
				</tr>
			</table>

			<div class="row expanded">
				<div class="medium-6 columns">
					<h3>Film Cast</h3>

					<div id="cast-cast">
						<div class="cast-list">
							{{#each credits.cast}}
								<p><b>{{this.character}}</b> - {{this.name}}</p>
							{{/each}}
						</div>
				
						<a>View Full Crew</a>
					</div>
				</div>
				<div class="medium-6 columns">
					<h3>Film Crew</h3>

					<div id="cast-crew">
						<div class="cast-list">
							{{#each credits.crew}}
								<p><b>{{this.job}}</b> - {{this.name}}</p>
							{{/each}}
						</div>
				
						<a>View Full Crew</a>
					</div>
				</div>
			</div>	
		</div>	
	</div>
</div>

<main>
	<div class="row">
		<h3>Videos</h3>
	
		{{#each video.results}}
			{{#if_eq this.site "YouTube"}}
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{this.key}}" frameborder="0" allowfullscreen></iframe>
			{{else}}
				{{!-- Do nothing --}}
			{{/if_eq}}
		{{/each}}

		<br><br>

		<small>Yes of course I'm going to make this look pretty.</small>
	</div>

	
</main>