<main>
	<h3>Showing results for {{searchQuery}}</h3>

	<div id="search-results">
		{{#each results}}
			<a href="../movie/{{this.id}}/"><div class="search-result">
				<img src="http://image.tmdb.org/t/p/w370/{{this.poster_path}}">

				<p>{{this.title}}</p>
			</div></a>
		{{else}}
			<p>List is empty</p>
		{{/each}}
	</div>
</main>