<main>
		
	{{#if genre}}
		<h3>Showing {{searchQuery}} films</h3>
	{{else}}
		<h3>Showing results for "{{searchQuery}}"</h3>
	{{/if}}

	<div id="search-results">
		{{#each results}}
			<a href="../movie/{{this.id}}/"><div class="search-result">
				{{#if this.poster_path}}
					<img src="http://image.tmdb.org/t/p/w185/{{this.poster_path}}">
				{{else}}
					<img src="/img/not-found-small.png">
				{{/if}}

				<p>{{this.title}}</p>
			</div></a>
		{{else}}
			<p>List is empty</p>
		{{/each}}
	</div>
</main>